<p
[ngStyle]="{
  color: color,
  fontFamily: font,
  fontSize: size +'px'

}"> my word</p>
<div class="row">
  <div class="col">
    <input type="color" [(ngModel)]="color" class="form-control">
  </div>
  <div class="col">
    <input [(ngModel)]="size" type="number" class="form-control">
  </div>
  <div class="col">
    <select [(ngModel)]="font" class="form-control">
      <option value="garamond">Garamond</option>
      <option value="garamond">verdana</option>
      <option value="garamond">Arial</option>
    </select>
  </div>
</div>

