<input type='text' appRainbow />

<p
[ngClass]="{
  lampe: isAllume,
  etteinte: !isAllume
}">ng-class works!</p>

<p appHighlight>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsa eligendi exercitationem voluptates doloribus dolorem illum, blanditiis consectetur, alias repellat placeat quidem. Ipsum optio neque dolores incidunt. Quos, in voluptate.
</p>

<div appHighlight [in]="'green'" [out]="'blue'">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur eos itaque officiis voluptates asperiores, tempore molestiae hic. Ab nihil quas maxime eaque, dicta accusantium nemo fugiat, soluta quod consequuntur tempore?
</div>
